.nav-btn {
  background-color: #22c55e;   /* green */
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: #16a34a;   /* hover green */
  transform: translateY(-2px);
}

/* Active page button */
.active-nav {
  background-color: #22c55e;   /* same green as others */
}